/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;    
}

body {
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

.header #icon-name{
    -webkit-box-shadow: 1px 30px 30px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 1px 30px 30px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 1px 30px 30px 0px rgba(50, 50, 50, 0.75);
    width: auto;
    height: auto;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;    
    /*background: url(/img/section/1.jpg) no-repeat center center scroll;*/
    /*background: url(../img/bg.eps) no-repeat center center scroll;*/
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;    */
}


.header-image{
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background: url(/img/header-image.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; 
    filter: blur(5px);
    -webkit-filter: blur(5px);
    z-index: -1;
}

.alert-box{
    width: 80%;
    padding-left: 20%;
}